* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #2196f3;
    transition: all .2s ease-in-out;
}
a:hover {
    color: #2196f3;
}

/*
////////////////////////////////////////////////////////////////////////////////
*/
header {
    background: #7983C1;
    padding: 15px;
}

header .container {
    width: 80%;
    text-align: center;
    margin-left: 8%;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
header a :hover{
    color: #2196f3;;
}

header .fas {
    color: white;
    font-size: 15px;
}
header .fas :hover{
    color: #2196f3;
}

header .logo-area {
    color: white;
    display: inline-block;
    width: 20%;
    margin-left: -4px;
}
header .logo-area a{
    font-size: 25px;
}

header .logo-area a :hover{
    color: #2196f3;
}

header .menu {
    display: inline-block;
    width: 20%;
    margin-left: -4px;
    border-right: 1px solid rgba(255, 255, 255, .3);
    text-align: right;
    padding-right: 20px;
}

header .menu ul li a {
    margin-right: 20px;
}

header .menu ul li {
    display: inline-block;
}

header .icon-links {
    display: inline-block;
    width: 20%;
    margin-left: -4px;
    padding-left: 20px;
}

header .icon-links ul li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
}

header .icon-links .quick-options {
    display: inline-block;
    margin-left: -4px;
    border-right: 1px solid rgba(255, 255, 255, .3);
    padding-left: 20px;
    padding-right: 20px;
}

header .icon-links .privacy {
    display: inline-block;
    margin-left: -4px;
    padding-left: 20px;
}
header .icon-links .privacy {
    cursor: pointer;
}
header .icon-links .privacy :hover{
    color: #2196f3;
}

header .search-area {
    display: inline-block;
    width: 40%;
    margin-left: -4px;
    text-align: right;
}
header .search-area .fas {
    cursor: pointer;
}
header .search-area .fas:hover {
    color: #2196f3;
}

header .search-area ul li {
    display: inline-block;
}

/*
////////////////////////////////////////////////////////////////////////////////
*/

#top-area {
    background: url(../img/background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 200px 15px 90px 15px;
    position: relative;
}
#top-area .profile-info {
   margin-left: 30px;
}
#top-area .profile-info .user-img {
    padding: 10px;
    display: inline-block;
}

#top-area .profile-info .user-img img {
    border-radius: 50%;
}

#top-area .profile-info .user-details {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}

#top-area .profile-info .user-details h3 {
    color: rgb(51, 56, 61);
    font-size: 24px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 10px;
}

#top-area .profile-info .user-details a {
    display: inline-block;
    margin-left: -4px;
    margin-right: 3%;
    width: 47%;
    text-align: center;
    text-transform: uppercase;
    color: rgb(51, 56, 61);
    font-size: 11px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(255, 255, 255, .3);
    transition: background .4s ease-in-out;
}

#top-area .profile-info .user-details a:hover {
    background: #2196f3;
}

/*
///////////////////////////////////////////////////////////////////////
*/

#content-area {
    background: #f8f8f8;
    overflow: auto;
    padding: 50px 0;
}
#content-area .side-column {
    float: left;
    width: 35%;
    margin: 0 2.5%;
    max-width: 380px;
    margin-left: 50px;
}
#content-area .side-column .widget-box.intro .head {
    margin-bottom: 15px;
}
#content-area .side-column .widget-box.intro .body {
    display: inline-block;
    padding: 10px;
}
#content-area .side-column .widget-box.intro .body h6{
    padding-bottom: 15px;
}
#content-area .side-column .widget-box.intro .body .intro-edit{
    float: right;
    margin-top: -32px;
    color: #a8a8a8;
}
#content-area .side-column .widget-box.intro .body p{
    padding-bottom: 15px;
    color: #a8a8a8;
}
#content-area .widget-box {
    background: #fff;
    margin: 0 0 15px 0;
    border-radius: 3px;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(74, 69, 74, 1);
    -moz-box-shadow: 0px 2px 5px -1px rgba(74, 69, 74, 1);
    box-shadow: 0px 2px 5px -1px rgba(74, 69, 74, 1);
    overflow: auto;
}

#content-area .widget-box .head .widget-icon-container {
    display: inline-block;
}
#content-area .widget-box .head .widget-icon {
    background: #bfbfbf;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content-area .widget-box .head .widget-icon .fas{
    max-width: 50%;
    font-size: 23px;
}
#content-area .widget-box .head .widget-title {
    display: inline-block;
    padding: 0 0 0 10px;
}
#content-area .widget-box .head .photos-arrow {
    display: inline-block;
    color: #a8a8a8;
    float: right;
    margin-top: 17px;
}
#content-area .widget-box .head .friends-arrow {
    display: inline-block;
    color: #a8a8a8;
    float: right;
    margin-top: 17px;
}
#content-area .widget-box .body {
    padding: 20px 0;
}

#content-area .main-area {
    float: left;
    width: 55%;
    margin: 0 2.5%;
    position: absolute;
    right: 37px;
    margin-top: -100px;
}
#content-area .main-area .widget-box .submenu {
    padding: 0;
    margin: 0;
    margin-bottom: 0 0 20px 0;
    color: #a8a8a8;
}
#content-area .main-area .submenu ul {
    padding: 0;
    margin: 0;
}
#content-area .main-area .submenu ul li {
    display: inline-block;
    width: 20%;
    padding: 10px;
    float: left;
    text-align: center;
    border-bottom: 3px solid #fff;
    transition: all .4s ease-in-out;
    cursor: pointer;
}
#content-area .main-area .submenu ul li:hover {
    border-bottom: 3px solid #2196f3;
    color: #2196f3;
}
#content-area .main-area .submenu ul li:nth-child(5){
    padding: 28px 0 21px;
}
#content-area .main-area .submenu ul li .fas {
    font-size: 20px;
}
#content-area .main-area .submenu ul li span {
   display: block;
   margin: 15px 0 0 0;
   font-size: 14px;
   text-transform: uppercase;
}
#content-area .main-area .widget-box.post {
    overflow: auto;
}
#content-area .main-area .widget-box.post .head {
    margin: 0 0 15px 0;
    padding: 10px;
    display: inline;
}
#content-area .main-area.widget-box.post .head .user-img-container {
    width: 8%;
    overflow: auto;
    display: inline-block;
    float: left;
}
#content-area .main-area .widget-box.post .head .user-img {
    display: inline-block;
    float: left;
    background: url(https://randomuser.me/api/portraits/women/47.jpg) 
    no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40px;
    width: 40px;
    margin: 0;
    border-radius: 50%;
 }
 #content-area .main-area .widget-box.post .head .post-info {
    display: inline-block;
    float: left;
    width: 92%;
    margin-left: 10px;
    margin-top: -15px;
}
#content-area .main-area .widget-box.post .head .post-arrow {
    float: right;
    margin-top: -23px;
    color: #a8a8a8;
}
#content-area .main-area .widget-box.post .head::after {
    content: '';
    clear: both;
    display: table;
}
#content-area .main-area .widget-box.post .head .post-info .user-info {
    display: block;
    font-size: 14px;
    margin: 4px 0 6px 0;
}
#content-area .main-area .widget-box.post .head .post-info .post-date {
    display: block;
    font-size: 12px;
    color: #ababab;
}
#content-area .main-area .widget-box.post .body {
    padding: 0;
}
#content-area .main-area .widget-box.post .body .post-img img {
    width: 100%;
}
#content-area .main-area .widget-box.post .body .top-icons {
    width: 100%;
    padding: 15px 0;
    color: #a8a8a8
}
#content-area .main-area .widget-box.post .body .top-icons .fas {
    font-size: 20px;
}
#content-area .main-area .widget-box.post .body .top-icons .fa-thumbs-up {
    margin-right: 15px;
}
#content-area .main-area .widget-box.post .body .top-icons span {
    display: inline-block;
    float: right;
}
#content-area .main-area .widget-box.post .body .post-comments {
    background: #e0e0e066;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}
#content-area .main-area .widget-box.post .body .post-comments .user-img {
    width: 8%;
    overflow: auto;
    display: inline-block;
    float: left;
}
#content-area .main-area .widget-box.post .body .post-comments::after {
    content: '';
    clear: both;
    display: table;
}
#content-area .main-area .widget-box.post .body .post-comments .user-img img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
}
#content-area .main-area .widget-box.post .body .post-comments .user-comment {
    display: inline-block;
    float: left;
    width: 92%;
    font-size: 14px;
}
#content-area .main-area .widget-box.post .body .post-comments .user-comment .user-info {
    margin: 5px 0 10px 0;
}
#content-area .main-area .widget-box.post .body .post-comments .user-comment .user-info
.time {
    color: #a8a8a8;
    font-size: 10px;
    float: right;
}
#content-area .main-area .widget-box.post .body .post-comments .user-comment p {
    color: rgb(162, 155, 162);
}









#content-area .main-area .widget-box.post .post-form {
    padding: 15px 0 0 0;
}
#content-area .main-area .widget-box.post .body .post-form .user-img {
    width: 8%;
    overflow: auto;
    display: inline-block;
    float: left;
}
#content-area .main-area .widget-box.post .body .post-form::after {
    content: '';
    clear: both;
    display: table;
}
#content-area .main-area .widget-box.post .body .post-form .user-img img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
}
#content-area .main-area .widget-box.post .body .post-form .form-info {
    display: inline-block;
    float: left;
    width: 92%;
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #ababab
}
#content-area .main-area .widget-box.post .body .post-form .form-info input {
    width: 80%;
    border: 0 solid #fff;
    outline: none;
    font-size: 18px;
}
#content-area .main-area .widget-box.post .body .post-form .form-info .icons {
    display: inline-block;
    float: right;
}
#content-area .main-area .widget-box.post .body .post-form .form-info .icons .fas {
    font-size: 20px;
    margin: 0 15px 0 0;
    color: #a8a8a8;
}
#content-area .main-area .widget-box.post .body .post-form .form-info .icons .far {
    font-size: 20px;
    margin: 0 15px 0 0;
    color: #a8a8a8;
}
